.container {
    width: 70%;
    max-width: 736px;
    margin: 0 auto;
}

.noContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--gray-300);
    
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    
    line-height: 1.5rem;
    padding: 4rem 1.5rem; 
}

.noContent > svg {
    margin-bottom: 1rem;
}

.result {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1.5rem;

    padding: 0 4px;
}

.doneTasks, 
.undoneTasks {
    display: flex;
    gap: 12px;
}

.doneTasks > p {
    color: var(--blue)
}

.undoneTasks > p {
    color: var(--purple-dark)
}

.doneTasks > span, 
.undoneTasks > span {
    background: var(--gray-400);
    font-size: 0.75rem;
    font-weight: bold;

    min-width: 1.56rem;
    height: 1.18rem;

    padding: 2px 8px;

    border-radius: 14px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
